
body * {
    outline: 1px solid pink;
} 

img {
    width: 100%;
    max-width: 150px;
}

.img-bottom {
    margin-bottom: 20px;
}

.col-10 {
    margin-bottom: 20px;
}

.header,
.footer {
    color: rgb(226,221,220);
    background-color:rgb(193,77,63);
}

.thenav {
    background-color:rgb(193,77,63);
}

.navbar-nav a {
    color:rgb(226,221,220);
    padding-top: 30px;
}
.navbar-nav a:hover {
    color: rgb(230,203,143);
}

.content {
    background-color: rgb(226,221,220);
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
}

.bullet {
    color:rgb(193,77,63);
}

.caption {
    font-size: .8rem
}

/* this gives enough headroom for the subject to properly display with each
content item */

.content-pad {
    height: 85px;
}

#header-title {
    color: rgb(230,203,143);
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;

}

/* media queries  */

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    .content-pad {
        height: 325px;
    }


 }